langchain
python-dotenv
tqdm
pydantic
fastapi
pathlib
pymupdf4llm
pypdf2
openai
uvicorn
langchain_community
python-multipart
motor
pymongo
aiomysql
sqlalchemy[asyncio]
aiofiles
cryptography
zhipuai
sniffio
neo4j